<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>News</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openFilter($event)">
        <span *ngIf="categoryName !== '' && categoryName !== 'All' ">{{categoryName}}</span>
        <ion-icon  [name]="categoryFilter ? 'pricetag' : 'pricetag-outline' " slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
<ion-searchbar animated="true" (ionChange)="searchChanged($event)" debounce="1000" [(ngModel)]="searchTerm"></ion-searchbar>
  
<div *ngIf="totalPosts > 0 else elseBlock" class="ion-text-center ion-padding">
    Found {{ totalPosts }} News <span *ngIf="categoryName !== '' && categoryName !== 'All' ">in {{categoryName}}</span>
</div>
<ng-template #elseBlock>
  <div class="ion-text-center ion-padding">
  No Result Found - {{ totalPosts }} News <span *ngIf="categoryName !== '' && categoryName !== 'All' ">in {{categoryName}}</span>
  </div>
</ng-template>
  
  <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      <ion-card-subtitle>{{ post.date_gmt | date }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]="post.media_url" *ngIf="post.media_url" (click)="readPost(post.id)"></ion-img>
      <div [innerHTML]="post.excerpt.rendered"></div>
      <ion-button expand="full" [routerLink]="'/posts/' + post.id" text-right>Read More...</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll *ngIf="page < totalPages" threshold="100px" (ionInfinite)="loadMore( $event )">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
